<div class="glassmorphism-container">
  <div class="grid-background"></div>
  <div class="waveform-container">
    <svg class="waveform" viewBox="0 0 1000 100" preserveAspectRatio="none">
      <path d="M0,50 Q50,30 100,50 T200,50 T300,50 T400,50 T500,20 T600,70 T700,50 T800,50 T900,50 T1000,50" />
    </svg>
  </div>
  <div class="content">
    <h1>ECG Diagnosing Laboratory</h1>
    <p>Advanced cardiac analysis at your fingertips</p>
    <button mat-raised-button color="primary">Get Started</button>
  </div>
</div>
