<div class="header">
  <mat-toolbar class="mat-bar">
    <!-- Start Left side of Toolbar -->
    <div class="left-bar">
      <button mat-icon-button (click)="drawer.toggle()" matRipple>
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-icon-button matRipple>
        <mat-icon>home</mat-icon>
      </a>
      <h5>Signal Processing</h5>
    </div>
    <!-- End Left side of Toolbar -->

    <!-- Start Center Part of Toolbar -->
    <div>
      <button mat-stroked-button (click)="showStatistics = !showStatistics">
        <mat-icon>analytics</mat-icon>
        <span class="ml mr">Statistics</span>
        <mat-icon class="rotatable" [ngClass]="{ 'rotate-180': showStatistics }"
          >keyboard_arrow_down</mat-icon
        >
      </button>
    </div>
    <!-- End Center Part of Toolbar -->

    <!-- Start Right Part of Toolbar -->
    <div>
      <button mat-stroked-button class="mr">
        <mat-icon>account_circle</mat-icon> User
      </button>
      <button mat-stroked-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-stroked-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <!-- End Right Part of Toolbar -->
  </mat-toolbar>
</div>

<!--Create a Side nav -->
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" class="drawer" opened="false">
    <div class="user-logo">
      <mat-icon class="user-icon">account_box</mat-icon>
      <div class="user"><h2>User</h2></div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list class="nav-list">
      <a
        [routerLink]="['/dashboard']"
        mat-list-item
        routerLinkActive="link-active"
        >Dashboard</a
      >
      <a [routerLink]="['/upload']" mat-list-item routerLinkActive="link-active"
        >Upload</a
      >
      <a
        [routerLink]="['/analytics']"
        mat-list-item
        routerLinkActive="link-active"
        >Analytics</a
      >
    </mat-nav-list>
  </mat-drawer>

  <!--Main Component [Router] -->
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
